.presents {
  padding: 3vh;
}

button a {
  color: #000;
}

.present-list {
  background-color: #ece7e7ed;
  width: 40%;
  margin: 10px auto;
}

.present-option {
  border-style: groove;
  border-width: 2px;
}

.present-option:hover {
  background-color: rgb(162, 180, 190);
  color: rgb(252, 248, 248);
}

.present-list a {
  color: #000;
}

.present-list a:hover {
  
}
